@import './variable';

.card_cont {
  height: 54px;
  overflow: hidden;
}
.card_footer {
  text-align: right
}
.add_card {
  height: 178px;
  margin: -1 * @layoutGap;
  padding: @layoutGap;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: @primaryColor;
    background: #cce4f6;
  }
  i {
    font-size: 42px;
  }
}
.dropdown_link {
  font-size: 16px;
}
.col_space {
  margin-bottom: 16px;
}
