@import './variable';

.wrap {
  background: @bodyBackground;
}
.header {
  padding: 0 @containerPadding;
  background: #404040;
}
.container {
  max-width: @containerWrap;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  float: left;
  width: 120px;
  height: 32px;
  line-height: 32px;
  margin: 16px 24px 16px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 50px @layoutGap;
}

:export {
  headerHeiht: @headerHeiht;
}
