@import './variable';

@subtractH: @headerHeiht + @layoutGap * 2;

.wrap {
  flex: 1;
  flex-direction: row;
  padding: @layoutGap 0;
  background: #fff;
  border-radius: 4px;
}

.side_menu {
  width: 320px;
}
.content {
  flex: 1;
  padding: 0 @layoutGap;
}

.api_method {
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
}
.api_get {
  color: #4CAF50
}
.api_post {
  color: #FF9800
}
.api_put {
  color: #2196f3
}
.api_delete {
  color: #F44336
}
.api_title {
  margin-right: 10px;
  font-size: 16px;
}
.api_date {
  text-align: center
}
